<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body class="signup">
    <h1 class="header">Create an Account</h1>
    <% if @user.errors.any? %>

 <div id="container">
   <h3><b>Uh-oh! <%= pluralize(@user.errors.count, "error") %> prohibited you from creating an account:</b></h3>

   <ul>
   <% @user.errors.full_messages.each do |msg| %>
     <li><%= msg %></li>
   <% end %>
   </ul>
 </div>
 <% end %>

    <%= form_for(@user) do |f|%>
      <form>
        <div class="container">
        <p><%=f.label "Username"%></br> </p>
        <%= f.text_field :username%> </br>

        <p><%=f.label "First Name"%></br></p>
        <%= f.text_field :first_name%> </br>

        <p><%=f.label "Last Name"%></br></p>
        <%= f.text_field :last_name%> </br>

        <p><%=f.label "Email" %></br></p>
        <%= f.email_field :email%></br>

        <p><%=f.label "About Me:" %></br></p>
        <%= f.text_area :bio%></br>

        <p><%=f.label "Password" %></br></p>
        <%= f.password_field :password%> </br>

        <p><%=f.label "Password Confirmation" %></br></p>
        <%= f.password_field :password_confirmation%> </br>

        <%= f.submit "Start your travel journey!"%></br>
        </div>

      </form>
    <%end %>

  </body>
</html>
