
<body class="profile">
<%= render "layouts/navbar" %>
<h1><%= "#{@user.first_name.capitalize } #{@user.last_name.capitalize}"%></h1>
  <div class="pic">
    <%= render "/layouts/user_icon" %>
  </div>

  <div>

    <p><strong>About Me:</strong> <%= @user.bio %></p>
    <p><strong>Email:</strong>  <%= @user.email %></p>
    <!-- <a href= <%= "@user.email" %> >Email</a> -->
    <p><%= link_to 'Edit Profile', edit_user_path(@user) %></p>
    <p><%= link_to 'See Trips', user_trips_path(@user) %></p>
    <p><%= link_to 'See all Cities', cities_path %></p>
    <p><%= link_to "Log out", logout_path, method: "delete" %></p>
  </div>


</div>

</body>
